:root{
  --yellow : #fbe31c;
  --pink : #f22a83;
  --light_yellow: #fff06b;
  --background: #253b53;
}

::-webkit-scrollbar {
  display: none;
}

body{
  /* background-image: url('./Assets/Images/back\ layer\ -min.png'); */
  background-color: var(--light_yellow) !important;
  /* background-position: center; */
}

.App {
  text-align: center;
}

.text{
  font-family: MarkUp;
}


.outline{
  border: 5px;
  border-color: black;
  border-style: solid;
}

/* navbar css */
.navbarMain{
background-color: transparent;
}
.navLogo{
  width: 200px;
  margin-left: 20px;
}

.inline{
  display: inline-block;
}

.navConnectBtn{
  background-color: var(--light_yellow) !important;
  border: 3px solid var(--pink) !important;
  color: black !important;
  margin-right: 25px;
  font-weight: bold !important;
}

.pinkBtn{
  background-color: var(--pink) !important; 
  border: 0 !important;
  border-radius: 13px !important;
}

.greenBorder{
  border: 3px solid rgb(2, 193, 2) !important;
}

/* navbar css */

/* body */
.bodyDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.bodyTextDiv{
  display: flex;
  align-items: center;
}
.bodyText{
  margin-left:'-320px'
}
.mintBtn{
  background-color: var(--pink) !important;
  border: 0 !important;
}
.mintStakeBtn{
  background-color: rgb(102, 153, 248) !important;
  border: 0 !important;
}
.viewEggHolder{
  position: absolute;
  border: 2px;
  border-style: solid;
  border-radius: 20px;
  border-color:var(--yellow);
  width: 300px;
  height: 300px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
.viewSelectedPartsHolder{
  position: absolute;
  border: 2px;
  border-style: solid;
  border-radius: 20px;
  border-color:var(--yellow);
  width: 300px;
  height: 300px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
/* body */

@font-face {
  font-family: MarkUp;
  src: url('./Assets/Fonts/Markup\ W00\ Regular.ttf');
}

@media (max-width: 768px){
    .bodyDiv{
      display: inline-block;
      margin-top: 60px;
    }
    .bodyText{
      margin-top: 50px;
      margin-left: 0;
    }
}



.partsHolder{
  height:90px;
  width: 90px;
  border-radius: 15px;
  margin: 5px;
  background-color: rgb(255, 234, 186);
}

.viewPartsHolder{
  height:80px;
  width: 80px;
  border-radius: 15px;
  margin: 5px;
  background-color: rgb(255, 234, 186);
}

.partsHolderStaked{
  height:90px;
  width: 90px;
  border-radius: 15px;
  margin: 5px;
  background-color: rgb(255, 234, 186);
  border: 5px;
  border-color: black;
  border-style: solid;
}



.selected{
  border: 1px black solid;
}

.nooutline{
  border:0px
}

.viewHeader{
  position: relative;
  margin-top: 40px;
  background-color: var(--yellow);
  border-radius: 15px;
  width: 100%;
  height: 135px;
  padding: 10px;
  display: inline-block;
}

.viewTamagoContainer{
  width: 500px;
  overflow-x: scroll;
  white-space: nowrap;
}

.viewPimpHeading{
  color: white;
  position: absolute;
  top:-40px;
  right: 10px;
}

.tamagoImage{
  width: 100px;
  height: 100px;
  border: 2px black solid;
  border-radius: 20px;
  margin: 10px;
  background-image: url('./Assets/Images/egg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.CLASSIC{
  color: white;
  border-radius: 20px;
  background-color: red;
  margin: 8px;
}

.ADVANCED{
  color: white;
  border-radius: 20px;
  background-color: orange;
  margin: 8px;
}

.LEGENDARY{
  color: white;
  border-radius: 20px;
  background-color: rgb(2, 185, 2);
  margin: 8px;
  margin-left: 3px;
  margin-right: 3px;
}

.viewPaging{
  position: absolute; 
  background-color: var(--yellow) !important;
  border: 0 !important;
  color: black !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  top:-30px;
  left: 30px;
}

.flex{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.viewInnerDiv{
  position: relative;
  width: 60%;
}

.viewStakedSection{
  padding-top: 30px;
  position: relative;
  margin-top: 20px;
  border: 2px solid var(--pink);
  border-radius: 20px;
  height: 135px;
}

.viewPartsAndTamagoSection{
  margin-top: 20px;
  height: 460px;
  display: flex;
}

.viewPartsSection{
  padding-top: 30px;
  position: relative;
  border: 3px solid var(--yellow);
  height: 100%;
  width: 55%;
  border-radius: 15px;
  overflow-y: scroll;
  white-space: nowrap;
}

.viewTamagoSection{
  position: relative;
  width: 45%;
}

.viewFinalTamagoContainer{
  position: relative;
  width: 100%;
  height: 310px;
}

.viewAvailablePartsRow{
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.randomEggHolder{
  width: 200px;
  border: 2px solid #fbe31c;
  border-radius: 10px;
  margin: 20px;
}